[submodule "xtendoo-corporation/custom-dxt-formacion"]
	path = xtendoo-corporation/custom-dxt-formacion
	url = git@github.com:xtendoo-corporation/custom-dxt-formacion.git
	branch = 15.0

[submodule "RLJO/xtendoo"]
	path = RLJO/xtendoo
	url = git@github.com:RLJO/xtendoo.git
	branch = 15.0

[submodule "jotate70/new-addons-Odoo"]
	path = jotate70/new-addons-Odoo
	url = git@github.com:jotate70/new-addons-Odoo.git
	branch = 15.0

[submodule "lq-todoo/lizethtest15"]
	path = lq-todoo/lizethtest15
	url = git@github.com:lq-todoo/lizethtest15.git
	branch = main

[submodule "jotate70/Custom-addons-Odoo"]
	path = jotate70/Custom-addons-Odoo
	url = git@github.com:jotate70/Custom-addons-Odoo.git
	branch = 15.0

[submodule "Redsea2022/RedSea"]
	path = Redsea2022/RedSea
	url = git@github.com:Redsea2022/RedSea.git
	branch = Master

[submodule "RLJO/silver_star"]
	path = RLJO/silver_star
	url = git@github.com:RLJO/silver_star.git
	branch = stage

[submodule "RLJO/addons_ecommerce_sarinah"]
	path = RLJO/addons_ecommerce_sarinah
	url = git@github.com:RLJO/addons_ecommerce_sarinah.git
	branch = ghiyat

[submodule "h3llopy/UpdatedDeliveryBoy"]
	path = h3llopy/UpdatedDeliveryBoy
	url = git@github.com:h3llopy/UpdatedDeliveryBoy.git
	branch = main
