[submodule "xtendoo-corporation/custom-dxt-formacion"]
	path = xtendoo-corporation/custom-dxt-formacion
	url = git@github.com:xtendoo-corporation/custom-dxt-formacion.git
	branch = 15.0

[submodule "RLJO/xtendoo"]
	path = RLJO/xtendoo
	url = git@github.com:RLJO/xtendoo.git
	branch = 15.0

[submodule "jotate70/new-addons-Odoo"]
	path = jotate70/new-addons-Odoo
	url = git@github.com:jotate70/new-addons-Odoo.git
	branch = 15.0
